.search-container {
	max-width: 600px;
	margin: 20px auto;
	font-family: Arial, sans-serif;
}
.search-box {
	max-width: 600px;
	display: flex;
	margin-bottom: 15px;
}
#search-input {
	flex: 1;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
}
#search-button {
	padding: 10px 15px;
	background-color: #7ea5c7;
	color: white;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	font-size: 16px;
}
#search-button:hover {
	background-color: #6d90ac;
}
.search-results {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}
.result-item {
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.result-item:last-child {
	border-bottom: none;
}
.result-item:hover {
	background-color: #f9f9f9;
}
.result-title {
	font-weight: bold;
	margin-bottom: 5px;
}
.result-title a{
	color: #2394ab;
}
.result-snippet {
	color: #545454;
	font-size: 14px;
}
.no-results {
	color: #70757a;
	padding: 10px;
}

.keyword-box{
	background-color: #92c0ca;
	color: white;
	padding: 3px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 5px;
}

.keyword-box:hover{
	cursor: pointer; 
	background-color: #6e9198;
}

.keyword-container{
	display: inline-block;
	width: 60%;
}